/*      helpers     */

.regular{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
    
}
.transparent{
    
}
/*    //helpers     */

/*    main styles::;*/
html{
    font-family: 'Lato', sans-serif;
    line-height: 1.75;
}

body{
    background-color: #fff;
}

.logo{
    display: flex;
    padding: 25px 10px;
    align-items: center;
    font-size: 30px;
}

.logo span{
    margin-left: 16px;
}
         /*  //  main styles     */

            /*header*/

header{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}


.title h1{
    font-size: 120pt;
    border-bottom: 3px solid #15a4fa;
    padding-bottom: 34px;
    padding-left: 150px;
    padding-right: 150px;
    line-height:0.85;
    margin-bottom: 34px;
}
.title h2{
    font-size: 20pt;
    line-height: 0.8;
    margin-bottom: 62px;
    margin-left: 110px;
    margin-right: 110px;
}
.btn{
    padding: 23px 33px;
    border-radius: 5px;
    font-size: 20pt;
    background-color: #15a4fa;
}
    /*begin content*/
    /*first block*/
.main-content-1{
    min-height: 340px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f6f9f9;
}
.text-40pt{
    font-size: 40pt;
    color:#2d3950;
}
.text-20pt{
    font-size: 20pt;
    color: #999999;
}

/*second block*/
.main-content-2{
    min-height: 340px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;  
}
.text-style{
    font-size: 22pt;
    color: #2d3950;
    margin-top: 25px;
}
.subtext-style{
    margin-top: 15px;
    font-size: 15pt;
    color: #999999;
}
/*third block*/
.main-content-3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f6f9f9;
}
.third-block-text-style-1{
    font-size: 41pt;
    color: #2d3950;
}
.third-block-text-style-2{
    font-size: 15pt;
    line-height: 23pt;
    color: #999999;
}
.title-block-3{
    margin: 80px 0;
}
.item{
    width: 360px;!important
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    display: ;
    flex-wrap: wrap;
}
.block-img{
    margin-bottom: 120px;
}
/*fourth-block*/
.main-content-4{
    background-image: url(../img/Rectangle-25-copy2.png);
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.text-block-4-1{
    font-size: 41pt;
    color: #fff;
}
.text-block-4-2{
    font-size: 15pt;
    color: #929294;
}
.subscribe-radio-text{
    font-size: 15pt;
    color: #f1f2f3;
}
/*footer*/
footer{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.item-1{
    background-image: url(../img/Layer-29.png);
}
.item-2{
    background-image: url(../img/Layer-31.jpg);
}
.item-3{
    background-image: url(../img/Layer-32.jpg);
}
.item-4{
    background-image: url(../img/Layer-33.jpg);
}
.item-5{
    background-image: url(../img/Layer-34.jpg);
}
.item-6{
    background-image: url(../img/Layer-35.jpg);
}
*/

/*media*/
@media screen and (max-width:768px){
    .title h1{
        font-size: 21vw;
    }
    .title h2{
        font-size: 15pt;
    }
    
}