/*      helpers     */

.regular{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;  
}

/*    //helpers     */

/*    main styles::;*/
html{
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

body{
    background-color: #fff;
}

.top-line-logo{
    display: flex;
    padding: 25px 10px;
    align-items: center;
    font-size: 30px;
    max-height: 10vh;
}


.top-line-logo span{
    margin-left: 2%;
    text-transform: uppercase;
    font-weight: 700;
}
         /*  //  main styles     */

            /*header*/

header{
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #fff;
}


.header-h1{
    text-align:center;
    font-size: 120pt;
    border-bottom: 3px solid #15a4fa;
    padding-bottom: 3%;
}
.header-content{
    font-size: 20pt;
    line-height: 0.8;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 1;
}
.btn{
    padding: 23px 33px;
    border-radius: 7px;
    font-size: 2em;
    background-color: #15a4fa;
    margin: 5%;
}
    /*begin content*/

    /*first block*/

.main-content-1{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f6f9f9;
}
.text-40pt{
    font-size: 40pt;
    color:#2d3950;
}
.text-20pt{
    font-size: 20pt;
    color: #999999;
}

    /*second block*/

.main-content-2{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;  
}
.text-style{
    font-size: 22pt;
    color: #2d3950;
    margin-top: 25px;
}
.subtext-style{
    font-size: 15pt;
    color: #999999;
    margin-bottom: 10%;
}

    /*third block*/

.main-content-3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f6f9f9;
    min-height: 100vh;
}
.third-block-text-style-1{
    font-size: 41pt;
    color: #2d3950;
}
.third-block-text-style-2{
    font-size: 15pt;
    line-height: 23pt;
    color: #999999;
}
.title-block-3{
    margin: 80px 0;
}
.item{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}
.block-img{
    margin-bottom: 120px;
}

    /*fourth-block*/

.main-content-4{
    background-image: url(../img/Rectangle-25-copy2.png);
    background-size: cover;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.text-block-4-1{
    font-size: 41pt;
    color: #fff;
    
}
.text-block-4-2{
    font-size: 15pt;
    color: #929294;
}
.subscribe-radio-text{
    font-size: 15pt;
    color: #f1f2f3;
}
.name{
    width: 57%;
    margin-top: 30px;
    padding: 10px;
    background: transparent;
    color: #fff;
}
.email{
    width: 57%;
    margin-top: 15px;
    padding: 10px;
    background: transparent;
    color: #fff;
}
.message{
    width: 57%;
    height: 250px;
    margin-top: 15px;
    padding: 10px;
    background: transparent;
    color:#fff;
    margin-bottom: 15px;
}

.form-get{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-radio-text{
    margin: 10px;
}
.send{
    background: transparent;
    color: #fff;
    padding: 3px 35px;
    border: 1px solid #15a4fa;
    border-radius: 5px;
}
.send:hover{
    color: #15a4fa;
    transition: 0.2s ease;
}
<<<<<<< HEAD
    /*end content*/

    /*footer*/
=======
.subscribe{
}
.subscribe-radio-text{
}
.send{
}
/*footer*/
>>>>>>> 0fcdc3504c5195ad72f3893de6ace09ad2aeee12
footer{
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f9f9;
}
.footer{
    color: #999999;
}
.socials{
    color: #fff;
    margin: 10px;
    
}
    
/*Icon styles*/

.fa{
    background-color: #15a4fa;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    /*media*/
@media screen and (max-width:768px){
    .header-h1{
        font-size: 90pt;
    }
    .name{
        width: 100%;
    }
    .email{
        width: 100%;
    }
    .message{
        width: 100%;
    }
    
}
@media screen and (max-width:400px){
    .header-h1{
        font-size: 50pt;
    }
}
@media screen and (max-width:992px){
    .name{
        width: 82.5%;
    }
    .email{
        width: 82.5%;
    }
    .message{
        width: 82.5%;
    }
}